##############################
## Folders                  ##
##############################
node_modules
.vscode
 
##############################
## Netbeans conf            ##
##############################
sequelizeConfig.js
