html,body {margin:0 auto; padding:0; font:10px helvetica,arial,"Microsoft Yahei";width: 100%;font-family: -apple-system-font, "Helvetica Neue", sans-serif;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p,figure{padding:0; margin:0;}
a{text-decoration: none;}
ol,ul {list-style:none;}
li{list-style-type:none;}
table{border-collapse:collapse}
input,select {
	/*-webkit-appearance:none;*/
	outline: none;
	border: none;
}
.fl{
	float: left;
}
.fr{
	float:right;
}
img{display: block;width:100%; border: none;}
address,cite,code,em,th,i{font-weight:normal; font-style:normal;}
.clearfix{zoom:1;}
.clearfix:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:".";}
[v-cloak]{
	display: none;
}